<nav class="navbar navbar-expand-sm" style="background: #000000;">
    <a class="navbar-brand" id="navbardrop" href="/menuprincipal">E-Commerce</a>
    <ul class="navbar-nav">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                Opciones
            </a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="">Opcion 1</a>
                <a class="dropdown-item" href="">Opcion 2</a>
                <a class="dropdown-item" href="">Opcion 3</a>
                <a class="dropdown-item" href="">Opcion 4</a>
                <a class="dropdown-item" href="">Opcion 5</a>
            </div>
        </li>

    </ul>
</nav>